html, body {font-family: Arial, Helvetica, sans-serif;font-size: 1rem;margin: 0;padding: 0;color: #333;}
body {padding: 1rem;font-size: 0.85rem;}
#title {margin-top: 0;}
#timestamp {font-weight: bold;color: #666;margin-bottom: 0.5rem;}
#summary {color: #999;margin-bottom: 1rem;}
.suite-info {
	padding: 1rem;
	background-color: #eee;
	border-bottom: 2px solid #999;
	color: #999;
	display: flex;
	align-items: center;
}
.suite-info .suite-path {
	font-weight: bold;
	word-break: break-all;
	flex-grow: 1;
}
.suite-info .suite-time {
	margin-left: 0.5rem;
	padding: 0.2rem 0.3rem;
	font-size: 0.75rem;
}
.suite-info .suite-time.warn {
	background-color: #D8000C;
	color: #fff;
}
.suite-table {width: 100%;font-size: 0.85rem;margin-bottom: 1em;}
.suite-table td {padding: 0.5rem;}
.suite-table tr.passed {background-color: #DFF2BF;color: #4F8A10;}
.suite-table tr.pending {background-color: #FEEFB3;color: #9F6000;}
.suite-table tr.failed {background-color: #FFBABA;color: #D8000C;}
.suite-table td {font-size: 0.85rem;border-bottom: 1px solid #aaa;vertical-align: top;}
.suite-table td.suite {font-weight: bold;width: 20%;}
.suite-table td.test {font-style: italic;width: 60%;}
.suite-table td.test .failureMsg {
	font-weight: bold;
	font-size: 0.7rem;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.suite-table td.result {width: 20%;text-align: right;}
